[submodule "lib/wormhole-solidity-sdk"]
	path = lib/wormhole-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-solidity-sdk
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/wormhole-solidity-sdk"]
	path = contracts/lib/wormhole-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-solidity-sdk
[submodule "contracts/lib/sismo-connect-solidity"]
	path = contracts/lib/sismo-connect-solidity
	url = https://github.com/sismo-core/sismo-connect-solidity
